
@mixin size($width, $height) {
	width: $width;
	height: $height;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin vertical-middle() {
  @include flex-container();
  @include align-items(center);
  @include flex-direction(row);
}

.vertical-middle, .vm {
  @include vertical-middle();
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  @if $top     { top: $top; }
  @if $right   { right: $right; }
  @if $bottom  { bottom: $bottom; }
  @if $left    { left: $left; }
}