
.nav-collapse {
  position: relative;

  .hamburger {
    display: none;
    svg {
      @include square(25px);
    }
  }

  &.collapsed {
    position: absolute;
    z-index: 500;
    .hamburger {
      display: block;
    }
    > ul {
      display: none;
    }
    &.opened {
      display: block;
      > ul:first-of-type {
        display: block;
      }
    }
  }
}